.viewport {
  color: #fff;
  display: flex;
  height: 100vh;
}

.leftPane {
  display: none;
}

@media screen and (min-width: 901px) {
  .leftPane {
    align-items: center;
    background: #fff;
    display: flex;
    flex-basis: 50%;
    flex-shrink: 0;
    justify-content: center;
  }
}

.rightPane {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

@media screen and (min-width: 901px) {
  .rightPane {
    align-items: center;
  }

  .rightPane .quote,
  .rightPane .homeLink {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  width: 90%;
}

.heading {
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  margin: -12px 0 12px;
}

.testBanner {
  position: fixed;
  background: red;
  color: white;
  padding: 48px 80px 24px;
  top: -10px;
  right: -90px;
  transform: rotate(45deg);
}

.success {
  padding: 48px;
  text-align: center;
}

.viewport a {
  margin: 0 0 36px;
  text-align: center;
}

.success img {
  margin-bottom: 48px;
  width: 100%;
}

.verticalSpacer {
  flex-shrink: 0;
  height: 16px;
  width: 100%;
}

.list {
  margin-bottom: 24px;
}

.list > div {
  display: flex;
  margin-bottom: 16px;
}

.list > div > h2 {
  flex-basis: 36px;
  flex-shrink: 0;
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
  line-height: 48px;
  margin: 0 16px 0 0;
  opacity: 0.6;
  text-align: center;
}

.list > div > p {
  align-self: center;
  font-size: 14px;
  margin: 0;
}

.viewport button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin: 8px auto 24px;
  flex-shrink: 0;
}

.viewport button:hover {
  background-color: rgba(0,0,0,0.2);
}

@media screen and (min-width: 901px) {
  .viewport button {
    margin: 48px auto;
    padding: 16px 24px;
  }
}

.quote {
  padding: 8px 8px 0;
  width: 100%;
}

.bubble {
  background: #fff;
  box-shadow: 0 6px 30px 6px rgba(0,0,0,.08);
  color: #20333a;
  padding: 12px 16px;
  position: relative;
  width: 80%;
}

@media screen and (min-width: 901px) {
  .bubble {
    padding: 24px;
  }
}

.bubble:after {
  background: #fff;
  bottom: 0px;
  content: "";
  height: 15px;
  position: absolute;
  right: 15px;
  transform: rotate(45deg);
  transform-origin: bottom left;
  width: 15px;
}

@media screen and (min-width: 901px) {
  .bubble:after {
    right: 80px;
  }
}

.quoteText {
  font-family: 'DM Serif Display', serif;
  margin-bottom: 16px;
}

.quoteName, .quoteTitle {
  font-size: 12px;
}

.quoteName {
  font-weight: 500;
  margin-bottom: 4px;
}

.avatar {
  padding: 16px;
  padding-bottom: 0;
  text-align: right;
}

.avatar img {
  border-radius: 50%;
  box-shadow: 0 6px 30px 6px rgba(0,0,0,.08);
  height: auto;
  width: 80px;
}

@media screen and (min-width: 901px) {
  .avatar img {
    width: 100px;
  }
}

.checkbox {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
  position: relative;
}

.checkbox p {
  margin: 0;
  margin-left: 8px;
}

.checkbox .tooltip p {
  margin: 0;
  margin-bottom: 8px;
  text-align: left;
}

@media screen and (min-width: 901px) {
  .checkbox {
    margin: 20px auto 0;
  }
}

.errorMessage {
  background: #d85d44;
  border-radius: 1px;
  bottom: 24px;
  box-shadow: 0 6px 30px 6px rgba(0,0,0,.08);
  color: #fff;
  padding: 4px 8px;
  position: absolute;
}

.errorMessage:after {
  background: #d85d44;
  bottom: -4px;
  content: "";
  height: 8px;
  left: 8px;
  position: absolute;
  transform: rotate(45deg);
  width: 8px;
}


/*----------------------------*/
/*   Tooltip                  */
/*----------------------------*/

.tooltip {
  line-height: 1rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

.tooltipOverlay {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  right: 50%;
  position: absolute;
  top: 1rem;
  transform: translateX(50%);
  transition: opacity 0.2s ease-in;
  margin-top: 12px;
  width: 200px;
}

.tooltip.isAbove .tooltipOverlay {
  bottom: 2rem;
  top: auto;
}

.tooltipArrow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: .5rem;
  height: .5rem;
  margin-right: auto;
  margin-left: auto;
  flex: 0 0 auto;
  background-color: #fff;
  transform: rotate(45deg);
}

.tooltip.isAbove .tooltipArrow {
  bottom: -5px;
  top: auto;
}

.tooltipContent {
  align-items: center;
  background-color: #fff;
  border-radius: .125rem;
  color: #20333a;
  display: block;
  flex: 0 0 auto;
  font-size: .875rem;
  height: auto;
  justify-content: center;
  line-height: 1.4rem;
  max-width: 33ch;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  top: .125rem;
}

.tooltip a {
  border-bottom: 1px dotted #f0ae1c;
  color: #e6774d;
  cursor: default;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0 auto;
  user-select: none;
}

.tooltip:hover .tooltipOverlay  {
  display: block;
}
